@{
    Layout = !Context.Request.Headers["X-Requested-With"].ToString().Equals("XMLHttpRequest", StringComparison.OrdinalIgnoreCase) ? "_Layout" : null;
}
@model Hutech.Models.UsersViewModel
<div id="content">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div  style="float:left;">
                                <i class="fa fa-align-justify"></i> Users
                                <a href="/User/AddUser">Add User</a>
                            </div>
                            <div style="float:right">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" id="btnGroupExport" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupExport">
                                        @* <a class="dropdown-item" href="/User/ExportToExcel?FullName=@Model.FullName">Export to Excel</a> *@
                                        <a class="dropdown-item" href="/User/ExportToExcel?FullName=@Model.FullName&UserName=@Model.UserName&EmailId=@Model.EmailId&Status=@Model.SelectedStatus&EmployeeId=@Model.EmployeeId&userType=@Model.SelectedUserType&department=@Model.SelectedDepartment&role=@Model.SelectedRole&location=@Model.SelectedLocation">Export to Excel</a> 
                                        <a class="dropdown-item" href="/User/ExportToPDF?FullName=@Model.FullName&UserName=@Model.UserName&EmailId=@Model.EmailId&Status=@Model.SelectedStatus&EmployeeId=@Model.EmployeeId&userType=@Model.SelectedUserType&department=@Model.SelectedDepartment&role=@Model.SelectedRole&location=@Model.SelectedLocation">Export to PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>User Type</th>
                                        <th>Full Name</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Employee Id</th>
                                        <th>Remark</th>
                                        <th>Department</th>
                                        <th>User Role</th>
                                        <th>Location</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{
                                    int recordsPerPage = 10;
                                    int pageNumber = Model.CurrentPage;
                                    int pageSize = pageNumber + 4;
                                    int rowNo = ((pageNumber - 1) * recordsPerPage);
                                }
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DropDownListFor(x => x.SelectedUserType, Model.UserTypes,"Select UserType", new { @class = "form-control processbank", @onchange = "Filter()" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Search", @onKeyUp = "Filter()", @value = @ViewBag.FullName != null ? @ViewBag.FullName : "" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Search", @onKeyUp = "Filter()", @value = @ViewBag.UserName != null ? @ViewBag.UserName : "" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", @placeholder = "Search", @onKeyUp = "Filter()", @value = @ViewBag.EmailId != null ? @ViewBag.EmailId : "" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(x => x.EmployeeId, new { @class = "form-control", @placeholder = "Search", @onKeyUp = "Filter()", @value = @ViewBag.EmployeeId != null ? @ViewBag.EmployeeId : "" })
                                        </td>
                                        <td></td>
                                        <td>
                                            @Html.DropDownListFor(x=>x.SelectedDepartment,Model.Departments,"Select Department",new {@class="form-control processbank",@onchange="Filter()"})
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.SelectedRole, Model.Roles,"Select Role", new { @class = "form-control processbank", @onchange = "Filter()" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.SelectedLocation, Model.Locations,"Select Location", new { @class = "form-control processbank", @onchange = "Filter()" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(x => x.SelectedStatus, Model.Status,"Select Status", new { @class = "form-control processbank", @onchange = "Filter()" })
                                        </td>
                                    </tr>
                                    @for (int i = 0; i < Model.userViewModels.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.userViewModels[i].UserType</td>
                                            <td>@Model.userViewModels[i].FullName</td>
                                            <td>@Model.userViewModels[i].WindowsUserName</td>
                                            <td>@Model.userViewModels[i].Email</td>
                                            <td>@Model.userViewModels[i].EmployeeId</td>
                                            <td>@Model.userViewModels[i].Remark</td>
                                            <td>@Model.userViewModels[i].DepartmentName</td>
                                            <td>@Model.userViewModels[i].RoleName</td>
                                            <td>@Model.userViewModels[i].LocationName</td>
                                            <td>@Model.userViewModels[i].UserstatusName</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-secondary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        @if (Model.userViewModels[i].UserstatusName != "Performed")
                                                        {
                                                            <a class="dropdown-item" href="#" id="@Model.userViewModels[i].UserId" onclick="performAction(this.id)">Execute</a>
                                                        }
                                                        <a class="dropdown-item" href="/User/EditUser?Id=@Model.userViewModels[i].UserId">Edit</a>
                                                        <a class="dropdown-item" href="/User/DeleteUser?Id=@Model.userViewModels[i].UserId" onclick="return confirm('Are you sure want to delete?')">Deactivate</a>
                                                    </div>
                                                </div>
                                            </td>


                                        </tr>
                                    }

                                </tbody>
                            </table>
                            @if (Model.TotalPages > 1)
                            {
                                <nav>
                                    <ul class="pagination">
                                        @if (pageNumber > 1)
                                        {
                                            int prevPage = pageNumber - 1;
                                            <li class="page-item">
                                                <a class="page-link" href="/User/GetAllUsers?PageNumber=@prevPage&FullName=@Model.FullName&UserName=@Model.UserName&EmailId=@Model.EmailId&Status=@Model.SelectedStatus&EmployeeId=@Model.EmployeeId&userType=@Model.SelectedUserType&department=@Model.SelectedDepartment&role=@Model.SelectedRole&location=@Model.SelectedLocation">Prev</a>
                                            </li>
                                        }
                                        @for (int i = pageNumber; i <= Model.TotalPages && i <= pageSize; i++)
                                        {
                                            if (i == pageNumber)
                                            {
                                                <li class="page-item active">
                                                    <a class="page-link" href="/User/GetAllUsers?PageNumber=@i&FullName=@Model.FullName&UserName=@Model.UserName&EmailId=@Model.EmailId&Status=@Model.SelectedStatus&EmployeeId=@Model.EmployeeId&userType=@Model.SelectedUserType&department=@Model.SelectedDepartment&role=@Model.SelectedRole&location=@Model.SelectedLocation">@i</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="/User/GetAllUsers?PageNumber=@i&FullName=@Model.FullName&UserName=@Model.UserName&EmailId=@Model.EmailId&Status=@Model.SelectedStatus&EmployeeId=@Model.EmployeeId&userType=@Model.SelectedUserType&department=@Model.SelectedDepartment&role=@Model.SelectedRole&location=@Model.SelectedLocation">@i</a>
                                                </li>
                                            }
                                        }
                                        @if (pageNumber < Model.TotalPages)
                                        {
                                            int nextPage = pageNumber + 1;
                                            <li class="page-item">
                                                <a class="page-link" href="/User/GetAllUsers?PageNumber=@nextPage&FullName=@Model.FullName&UserName=@Model.UserName&EmailId=@Model.EmailId&Status=@Model.SelectedStatus&EmployeeId=@Model.EmployeeId&userType=@Model.SelectedUserType&department=@Model.SelectedDepartment&role=@Model.SelectedRole&location=@Model.SelectedLocation">Next</a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            }
                        </div>
                    </div>
                </div>
                <!-- /.col-->

            </div>
            <!-- /.row-->
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Perform User Creation Request</h4>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body" id="userId">
                @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "validateForm(event)" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">User Type</label>
                                            <input type="text" id="userType" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">WindowsName</label>
                                            <input type="text" id="WindowsUserName" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <input type="hidden" id="userId" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">First Name</label>
                                            <input type="text" id="FirstName" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">Last Name</label>
                                            <input type="text" id="LastName" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">EmployeeId</label>
                                            <input type="text" id="EmployeeId" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">Email Id</label>
                                            <input type="text" id="Email" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">Location</label>
                                            <input type="text" id="Location" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">Department</label>
                                            <input type="text" id="Department" class="form-control" readonly />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company" class="label">Role</label>
                                            <input type="text" id="Role" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="company" class="label">Remark</label>
                                                <input type="text" id="Remark" class="form-control" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" id="reject" placeholder="Enter Comment for Reject" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" type="button" onclick="ApproveUserModalPopup()">Approve</button>
                                    <button class="btn btn-secondary" type="button" onclick="RejectUser()">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @* <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> *@
        </div>

    </div>
</div>
<div class="modal fade" id="approveModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="approveId">
                @Html.AntiForgeryToken()
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="company" class="label">Enter Password</label>
                                    <input type="password" id="password" class="form-control" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="button" onclick="ApproveUser()">Save</button>
                                <button class="btn btn-secondary" type="button" onclick="ClosePopup()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @* <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> *@
        </div>

    </div>
</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            window.location.href = url;
        };
    </script>
}
<script type="text/javascript">
    function Filter() {
        let fullName = $("#FullName").val();
        let userName = $("#UserName").val();
        let email = $("#EmailId").val();
        let employeeId = $("#EmployeeId").val();
        var selectElement = document.getElementById("SelectedStatus");
        var selectedValue = selectElement.value;
        let status = selectedValue;

        var selectUsertype=document.getElementById("SelectedUserType");
        var selectedUserType=selectUsertype.value;
        let userType=selectedUserType;

        var selectDepartmenttype=document.getElementById("SelectedDepartment");
        var selectedDepartment=selectDepartmenttype.value;
        let department=selectedDepartment;
        
        var selectRole=document.getElementById("SelectedRole");
        var selectedRole=selectRole.value;
        let role=selectedRole;

        
        var selectLocation=document.getElementById("SelectedLocation");
        var selectedLocation=selectLocation.value;
        let location=selectedLocation;

        if (fullName == "" && fullName.length == 0)
            fullName = null;
        if (userName == "" && userName.length == 0)
            userName = null;
        if (email == "" && email.length == 0)
            email = null;
        if (employeeId == "" && employeeId.length == 0)
            employeeId = null;
        if(userType=="" && userType.length==0)
            userType=null;
        if(department=="" && department.length==0)
            department=null;
        if(role=="" && role.length==0)
            role=null;
        if(location=="" && location.length==0)
            location=null;
        var model = {
            FullName: fullName,
            UserName: userName,
            EmployeeId: employeeId,
            EmailId: email,
            Status:status,
            userType:userType,
            department:department,
            role:role,
            location:location
        };
        $.ajax({
            url: '/User/GetAllUsers',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(model),
            success: function (response) {
                // Handle successful response from the server
                var div = document.getElementById("content");
                div.innerHTML = response;
            },
            error: function (xhr, status, error) {
                // Handle error response from the server
                console.error(xhr.responseText);
            }
        });
    }
</script>
<script type="text/javascript">
    function RejectUser() {
        var rejectComment = $("#reject").val();
        var userId = $("#userId").val();
        if (rejectComment == "") {
            alert("Please enter reason to reject user");
            $('#userModal').modal('show');
        }
        else {
            $.ajax({
                type: "GET",
                url: "/User/RejectUser",
                data: { comment: rejectComment, userId: userId },
                success: function (result) {
                    if (result.isValidPassword == false) {
                        alert("Plaese enter Correct Password to approve user");
                        $("#password").val('');
                        $('#approveModal').modal('show');
                    }
                    else {
                        $('#approveModal').modal('hide');
                        $('#userModal').modal('hide');
                        window.location.reload();
                    }
                },
                error: function (result) {
                    alert("Something went wrong please contact admin");
                }
            })
        }

    }
    function ApproveUser() {
        var password = $("#password").val();
        var userId = $("#userId").val();
        if (password == "") {
            alert("Please enter password to approve user");
            $("#password").val('');
            $('#approveModal').modal('show');
        }

        else {
            $.ajax({
                type: "GET",
                url: "/User/ApproveUser",
                data: { Password: password, UserId: userId },
                success: function (result) {
                    if (result.isValidPassword == false) {
                        alert("Plaese enter Correct Password to approve user");
                        $("#password").val('');
                        $('#approveModal').modal('show');
                    }
                    else {
                        $('#approveModal').modal('hide');
                        $('#userModal').modal('hide');
                        window.location.reload();
                    }
                },
                error: function (result) {
                    alert("Something went wrong please contact admin");
                }
            })
        }

    }
    function ClosePopup() {
        $('#approveModal').modal('hide');
    }
    function ApproveUserModalPopup() {
        $("#password").val('');
        $('#approveModal').modal('show');
    }

    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        $('#userModal').modal('hide');
    }
    function performAction(Id) {
        $("#userId").val(Id);
        $.ajax({
            type: "GET",
            url: "/User/GetUserDetail?Id=" + Id,
            success: function (result) {
                $("#userType").val(result.userType);
                $("#FirstName").val(result.firstName);
                $("#LastName").val(result.lastName);
                $("#Email").val(result.email);
                $("#WindowsUserName").val(result.windowsUserName);
                $("#EmployeeId").val(result.employeeId);
                $("#Location").val(result.locationName);
                $("#Role").val(result.roleName);
                $("#Department").val(result.departmentName);
                $("#Remark").val(result.remark);
                $("#reject").val(result.remarkForReject);
                // $("#reject").val('');
                $('#userModal').modal('show');
            },
            error: function () {
                alert("fail");
            }
        });
    }

</script>
