@model Hutech.Models.ConfigurationViewModel;
<form class="horizontal" method="post" asp-controller="Configuration" asp-action="AddConfiguration" asp-antiforgery="true">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>@_localizer.Getkey("Edit Configuration")</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">@_localizer.Getkey("File Type")</label>
                    @Html.TextBoxFor(x=>x.FileType,new{Placeholder=_localizer.Getkey("Enter File Type"),@class="form-control"})
                    @Html.ValidationMessageFor(x=>x.FileType,"", new { @class = "text-danger"})
                </div>
                <div class="form-group">
                    <label for="company">@_localizer.Getkey("File Size(MB)")</label>
                    @Html.TextBoxFor(x=>x.FileSize,new{Placeholder=_localizer.Getkey("Enter File Size"),@class="form-control"})
                    @Html.ValidationMessageFor(x=>x.FileSize,"", new { @class = "text-danger"})
                </div>
                @Html.HiddenFor(x=>x.Id)
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">@_localizer.Getkey("Save changes")</button>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">@_localizer.Getkey("Cancel")</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            var Id = $("#Id").val();
            window.location.href = url + "?id=" + Id;
        };
    </script>
}