<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i>@_localizer.Getkey("Configuration")
                        <a href="/Configuration/AddConfiguration">@_localizer.Getkey("Add Configuration")</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>@_localizer.Getkey("File Type")</th>
                                    <th>@_localizer.Getkey("File Size")</th>
                                    <th>@_localizer.Getkey("Action")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>@Model[i].FileType</td>
                                        <td>@Model[i].FileSize</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-secondary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@_localizer.Getkey("Action")</button>
                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    <a class="dropdown-item" href="/Configuration/EditConfiguration?id=@Model[i].Id">@_localizer.Getkey("Edit")</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col-->

        </div>
        <!-- /.row-->
    </div>
</div>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            window.location.href = url;
        };
    </script>
}