@model Hutech.Models.TeamViewModel;
<form class="horizontal" method="post" asp-controller="Team" asp-action="EditTeam" asp-antiforgery="true">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Edit Team</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">Name*</label>
                    @Html.HiddenFor(x=>x.Id)
                    @Html.TextBoxFor(x => x.Name, new { Placeholder = "Enter Team Name", @class = "form-control", maxlength = "50" })
                    @Html.ValidationMessageFor(x=>x.Name,"", new { @class = "text-danger"})
                    @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                </div>
                <div class="form-group">
                    <label for="company">Location*</label>
                    @Html.DropDownListFor(x=>x.LocationId,Model.locations,"Please select Location",new {@class="form-control processbank"})
                    @Html.ValidationMessageFor(x=>x.LocationId,"", new { @class = "text-danger"})
                    @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                </div>
                <div class="form-group">
                    <label for="company">Department*</label>
                    @Html.DropDownListFor(x => x.DepartmentId, Model.deparments, "Please select Department", new { @class = "form-control processbank" })
                    @Html.ValidationMessageFor(x => x.DepartmentId, "", new { @class = "text-danger" })
                    @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                </div>
                <div class="form-group">
                    <label for="company">Status</label>
                    <div class="input-prepend input-group">
                        @Html.RadioButtonFor(x => x.IsActive, "true")<label for="company" class="status ">Active</label> &nbsp;&nbsp;
                        @Html.RadioButtonFor(x => x.IsActive, "false")<label for="company" class="status frequencyUnit">InActive</label>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            var Id = $("#Id").val();
            window.location.href = url + "?id=" + Id;
        };
    </script>
}