@model Hutech.Models.InstrumentIdViewModel;
<form class="horizontal" method="post" asp-controller="InstrumentId" asp-action="AddInstrumentId" asp-antiforgery="true">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Add AddInstrumentId</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Instrument Id</label>
                            @Html.TextBoxFor(x => x.InstrumentsId, new { Placeholder = "Enter Instrument Id", @class = "form-control", maxlength = "50" })
                            @Html.ValidationMessageFor(x=>x.InstrumentsId,"", new { @class = "text-danger"})
                            @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Model</label>
                            @Html.TextBoxFor(x => x.Model, new { Placeholder = "Enter Model", @class = "form-control", maxlength = "50" })
                            @Html.ValidationMessageFor(x=>x.Model,"", new { @class = "text-danger"})
                            @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Instrument Serial</label>
                            @Html.TextBoxFor(x => x.InstrumentSerial, new { Placeholder = "Enter InstrumentSerial", @class = "form-control", maxlength = "50" })
                            @Html.ValidationMessageFor(x=>x.InstrumentSerial,"", new { @class = "text-danger"})
                            @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Instrument Name</label>
                            @Html.DropDownListFor(x=>x.InstrumentId,Model.Instruments,"Please select Instrument",new {@class="form-control processbank",onchange="handleActivityChange()"})
                            @Html.ValidationMessageFor(x=>x.InstrumentId,"", new { @class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Location</label>
                            @Html.DropDownListFor(x=>x.LocationId,Model.Locations,"Please select Location",new {@class="form-control processbank",onchange="handleLocationChange()"})
                            @Html.ValidationMessageFor(x=>x.LocationId,"", new { @class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Team</label>
                            @Html.DropDownListFor(x=>x.TeamId,Model.Teams,"Please select Team",new {@class="form-control processbank",onchange="handleTeamChange()"})
                            @Html.ValidationMessageFor(x=>x.TeamId,"", new { @class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Team Location</label>
                            @Html.TextBoxFor(x=>x.TeamLocation,new{Placeholder="Enter Team Location",@class="form-control",@readonly = true})
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            window.location.href = url;
        };
    </script>
}
<script type="text/javascript">
    function handleLocationChange() {
        var teamId = $("#TeamId option:selected").text();
        var locationId = $("#LocationId option:selected").text();
        var teamLocation = teamId + "-" + locationId;
        $("#TeamLocation").val(teamLocation)
    }
    function handleTeamChange() {
        var teamId = $("#TeamId option:selected").text();
        var locationId = $("#LocationId option:selected").text();
        var teamLocation = teamId + "-" + locationId;
        $("#TeamLocation").val(teamLocation)

    }
</script>
