@model Hutech.Models.UserTypeViewModel;
<form class="horizontal" method="post" asp-controller="UserType" asp-action="AddUserType" asp-antiforgery="true">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>@_localizer.Getkey("Edit UserType")</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">@_localizer.Getkey("Name")</label>
                    @Html.TextBoxFor(x => x.Name, new { Placeholder =_localizer.Getkey("Enter User Type"), @class = "form-control", maxlength = "50", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    @*<input class="form-control" id="company" type="text" placeholder="Enter your company name">*@
                </div>
                <div class="form-group">
                    <label for="company">@_localizer.Getkey("Status")</label>
                    <div class="input-prepend input-group">
                        @Html.RadioButtonFor(x => x.IsActive, "true")<label for="company" class="status ">@_localizer.Getkey("Active")</label> &nbsp;&nbsp;
                        @Html.RadioButtonFor(x => x.IsActive, "false")<label for="company" class="status frequencyUnit">@_localizer.Getkey("InActive")</label>
                    </div>
                </div>
                @Html.HiddenFor(x=>x.Id)
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">@_localizer.Getkey("Save changes")</button>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">@_localizer.Getkey("Cancel")</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            window.location.href = url;
        };
    </script>
}