@model Hutech.Models.RequirementViewModel;
<form class="horizontal" method="post" asp-controller="Requirement" asp-action="EditRequirement" asp-antiforgery="true">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Edit Requirement</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="company">Name*</label>
                    @Html.HiddenFor(x=>x.Id)
                    @Html.TextBoxFor(x => x.Name, new { Placeholder = "Enter Requirement Name", @class = "form-control", maxlength = "50" })
                    @Html.ValidationMessageFor(x=>x.Name,"",new {@class="text-danger"})
                </div>
                <div class="form-group">
                    <label for="company">Status</label>
                    <div class="input-prepend input-group">
                        @Html.RadioButtonFor(x => x.IsActive, "true")<label for="company" class="status ">Active</label> &nbsp;&nbsp;
                        @Html.RadioButtonFor(x => x.IsActive, "false")<label for="company" class="status frequencyUnit">InActive</label>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["message"]");
            var url = "@TempData["RedirectURl"]";
            var Id = $("#Id").val();
            window.location.href = url + "?id=" + Id;
        };
    </script>
}